.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.navbar {
	align-items: center;
	border-bottom: 2px solid rgb(221, 221, 221);
	display: flex;
	justify-content: space-around;
}

.navLink {
	font-size: 1.8rem;
	text-decoration: none;
}
.navbar > a.activeNavButton {
	color: orange;
}

.navLink2{
	font-size: 1.3rem;
	font-weight: bold;
	margin: 2%;
	white-space: nowrap;
}
.pflex > a.activeNavButton {
	background: orange;
	padding: 2%;
	border-radius: 8px;
	
}